*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
input{
    outline: none;
}
li{
    list-style: none;
}
html{
    font-size: 24.15vw;
}
body{
    width: 100%;
    background: #f5f7f6;
}